{% extends 'home_mahal/nav.html' %} {% block title %} Mahal | View CB {% endblock title %} {% block nav_body %}
<section class="mahal_management">
    <h2 class="heading">
        Service BOYS
    </h2>
    {% if search|length %}
    <p class="text">
        Search Results of {{search}} Found {{catboy.paginator.count }}
    </p>
    {% else %}
    <p class="text">
        Find the best service boys near You!!
    </p>
    {% endif %} {% if catboy|length %} {% for obj in catboy %}

    <div class="container">
        <div class="card mb-3 bg-dark col-md-9 mt-3" style="max-width: 100%;">
            <div class="row no-gutters">
                <div class="col-md-5 float-right my-4 " style='height:200px; width:330px; overflow:hidden;'>
                    {% if obj.prof_img != '' %}
                    <img class="card-img rounded" src="{{obj.prof_img}}" alt="prof"> {% else %}
                    <img class="card-img" src="/static/image/logo_cat.png" alt="prof"> {% endif %}
                </div>
                <div class="col-md-7 my-2">
                    <div class="row mt-4  font-weight-bold">

                        <p class="card-title ml-3 col-5  text-danger"> <span class="text-light">Name: </span>{{obj.name}}</p>

                        <p class="card-title col-5 mx-3 text-danger"><span class="text-light">Email: </span>{{obj.email}}</p>

                        <p class="card-title col-5 mx-3 text-danger"><span class="text-light">Mobile: </span>{{obj.ph_numb}}</p>

                        <p class="card-text col-11 text-center text-info"><span class="text-light">Address:</span> {{obj.address.street}}, {{obj.address.city}}, {{obj.address.pincode}}</p>

                        {% if obj.msg is defined %}
                        <div class="col-1">

                        </div>
                        <div class="mx-5 bg-dark col-10" style="border-bottom: 2px solid yellowgreen;">
                            <a href="{% url 'viewcatboyuserbymahal' id obj.id %}" class="text-center bg-dark border-0 font-weight-bold list-group-item list-group-item-action" style=" color: yellowgreen;">
                                  View More</a></div> {% endif %}
                        <p class="mx-5 card-text col-10 text-center text-warning">{{obj.msg}}</p>

                    </div>
                </div>
            </div>

        </div>

    </div>{% endfor %}
    <div class="justify-content-center"> {% if catboy.has_other_pages %}
        <ul class="pagination justify-content-center">
            {% if catboy.has_previous %}
            <li class="page-item bg-info"><a class="page-link" href="?page_catboy={{ catboy.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
            {% endif %} {% for i in catboy.paginator.page_range %} {% if catboy.number == i %}
            <li class="page-item active"><span class="page-link">{{i}}<span class="sr-only">(current)</span></span>
            </li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page_catboy={{ i }}">{{i}}</a></li>
            {% endif %} {% endfor %} {% if catboy.has_next %}
            <li class="page-item"><a class="page-link" href="?page_catboy={{ catboy.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
    {% else %}
    <div class="mahal_management">
        <p class="display-4 text-light">No Results Found!</p>
    </div>
    {% endif %}
    <div class=" text-center mt-5">
        <a class="btn-lg text-danger font-weight-bold btn-light col-md-5" href="{% url 'homemahal' id %}" role="button" style="text-decoration:none;">
                Home
        </a>
    </div>

</section>
{% endblock %}