{% extends 'home_catering/nav.html'%} {% block title %}Catering Service | History {% endblock title %} {% block nav_body%}
<div class="catering_service">


    <div class="text-center text-light">
        <h1 class="display-4 text-white">History</h1>
    </div>
    <table class="mb-5 catering_service table text-light font-weight-bold table-striped">
        <thead class="text-warning display-4">
            <tr>
                <th colspan="6">Your's Requirment</th>
            </tr>
        </thead>
        <thead>
            <tr class="text-center text-light">
                <th>OrderVenue</th>
                <th>Date</th>
                <th>Timing</th>
                <th>Amount</th>
                <th>Remaining Count</th>
            </tr>
        </thead>
        {% if catboy_order|length %}
        <tbody>
            {% for obj in catboy_order %}
            <tr class="text-center">
                <td scope="row">{{obj.venue.location}}</td>
                <td>{{obj.date}}</td>
                <td>{{obj.time}}</td>
                <td>Rs. {{obj.amount}}</td>
                <td>{{obj.catboy_max}} / {{obj.count}}</td>
            </tr>
            {% endfor %}

        </tbody>
        {% else %}
        <tbody>
            <tr rowspan="2">
                <td colspan="6">No History Found</td>
            </tr>
        </tbody>

        {% endif %}
    </table>
    <table class="mb-5 catering_service table text-light font-weight-bold table-striped">
        {% if request|length %}
        <thead>
            <tr class="text-center text-light">

                <th>Date@time</th>
                <th>Address</th>
                <th>Amount</th>
                <th>No of Plates</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>

            {% for obj in request %}
            <tr>
                <th>{{obj.date}}@ {{obj.reg_type}}</th>
                <th>{{obj.address}}</th>
                <th>Rs. {{obj.amount}}</th>
                <th>{{obj.plates}}</th>
                <th>
                    <a href="{% url 'viewcateringrequest' id obj.booker_id obj.reg_type obj.date|string %}" class="btn btn-sm btn-success">
                    View Order<i class="fas fa-check-double" aria-hidden="true"></i>
                </a>
                </th>
            </tr>
            {% endfor %}

            <tr>
            </tr>
        </tbody>
        {%else %}
        <thead>
            <tr class="text-center text-light">

                <th>Date@time</th>
                <th>Address</th>
                <th>Amount</th>
                <th>No of Plates</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th colspan="5">
                    No History Found
                </th>
            </tr>
        </tbody>
        {% endif %}

    </table>
</div>
{%endblock%}